In [ ]:
import pandas as pd
data = {
    'Name': ['Pavan','Kapil','Lalit','Ishan','Om'],
    'Age': [25, None, 44, 23, None],
    'Salary': [50000, 60000, 70000, None , None]
}
df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

print(df.isnull().sum()) #shows the missing places
df_drop= df.dropna() #drops any column/row that has an empty space
print(df_drop)

Original DataFrame
    Name   Age   Salary
0  Pavan  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0